body {
    font-family: sans-serif;
    padding: 20px;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

/* フォーム全体の共通スタイル */
form {
    margin-bottom: 15px;
}

/* 「+ 新しく追加」リンクをボタン風に */
a.add-button {
    display: inline-block;
    background-color: #f77422;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}
a.add-button:hover {
    background-color: orange;
}

/* カテゴリ・検索フォームの入力系の整列 */
form label {
    display: flex;
    display: inline-block;
    width: 150px; /* ラベル幅固定で「：」の位置を揃える */
    text-align: right;
    margin-right: 8px;
}

/* プルダウン内容の調整 */
select {
    width: 50%;
    max-width: 400px;
    padding: 8px;
    margin: 8px;
    box-sizing: border-box;
}

.search-form {
    margin-bottom: 20px;
}

.search-form label {
    margin-right: 10px;
}

.search-form select,
.search-form input {
    margin-bottom: 10px;
    max-width: 300px;
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
}

.search-form button,
.search-form a {
    display: inline-block;
    margin-top: 10px;
    margin-right: 20px; /* 検索ボタンとクリアボタンの間 */
    padding: 6px 12px;
    font-size: 14px;
    min-width: 140px;
}


/* テキスト入力欄設定 */
input,
textarea {
    width: 200%;
    max-width: 400px;
    box-sizing: border-box;
}

/* 各種ボタンのデザイン */
.button-group {
    display: flex;
    gap: 10px;
    padding: 8px;
}


/* ページネーション */
.pagination {
    margin-top: 20px;
    font-size: 16px;
}

.pagination a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
}

.pagination a:hover {
    text-decoration: underline;
}


/* スマホ対応 */
@media screen and (max-width: 600px) {
    .search-form label,
    .search-form select,
    .search-form input,
    .search-form button,
    .search-form a {
        display: block;
        width: 100%;
        margin-right: 0;
    }

    .search-form label {
        text-align: left;
        margin-bottom: 4px; /* ラベル下に余白を追加すると見やすい */
    }

    .search-form button,
    .search-form a {
        margin-bottom: 10px;
        width: auto;
    }
}
