<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ブックリスト</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>観た作品リスト</h1>
    <a href="/add">＋ 新しく追加</a>
    <ul>
        {% for idx, item in items %}
            <li>
            <strong>{{ item.title }}</strong>（{{ item.category }}）<br>
            感想：{{ item.comment }}<br>
            <a href="/delete/{{ idx }}" onclick="return confirmDelete()">🗑 削除</a>
        </li>
    {% endfor %}
    </ul>
    <script>
        function confirmDelete() {
            return confirm("本当に削除してよろしいですか？");
        }
    </script>
</body>
</html>
